@import url(/common.css);

/* メインビジュアル */
p.topimg {
  max-width: 593px;
  padding-top: 100px;
  right: 100px;
  /* top: 197px; */
}

.topimg {
  margin-left: auto;
  padding-right: 100px;
}

/* 〜〜遷移ナビゲーションここから〜〜 */

/* 背景 */
section.backbox {
  width: 1024px;
  height: 1432px;
  background-color: #fff;
  text-align: center;
  margin-top: 184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 138px;
}

/* ABOUT */
.linkA {
  background-image: url(/img/h_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  text-align: center;
  margin-top: 160px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

.linkA p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}

/* more→ */
.linkA img {
  width: 24px;
  height: 24px;
}

/* ホバーで背景画像が拡大〜ここから */
.linkA {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkA:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkA:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkA a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

/* GALLERY */
.linkG {
  background-image: url(/img/h_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

.linkG p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}

.linkG img {
  width: 24px;
  height: 24px;
}

/* ホバーで背景画像が拡大〜ここから */
.linkG {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkG:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkG:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkG a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

/* PRODUCT */
.linkP {
  background-image: url(/img/h_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

.linkP p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}
.linkP img {
  width: 24px;
  height: 24px;
}

/* ホバーで背景画像が拡大〜ここから */
.linkP {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkP:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkP:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkP a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

/* サブテキスト */
span {
  font-size: 0.4em;
}

/* ホバー時のアクション */
.linkA,
.linkG,
.linkP,
a:hover {
  text-decoration: none;
  opacity: unset;
}

/* 〜〜遷移ナビゲーションここまで〜〜 */

/* お問い合わせ */
div .linkC {
  background-image: url(/img/h_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 1440px;
  height: 628px;
  margin-top: 240px;
  display: flex;
}

/* 背景を暗く（30％） */
.linkC:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.3;
}

div .linkC p {
  width: 1440px;
  height: 628px;
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
span.text_C {
  font-size: 20px;
}

/* ホバー時のアクション */
.linkC p a:hover {
  opacity: unset;
}

.linkC:hover {
  filter: brightness(0.7);
  transition: 0.3s;
}

/* レスポンシブ */
@media (max-width: 575px) {
  /* メインの書式 */

  p.topimg {
    max-width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-right: unset;
  }
  /* ナビゲーションメニュー */
  section.backbox {
    width: 80%;
    height: 90%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkA {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 35%;
    margin-left: 15%;
  }

  .linkG,
  .linkP {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkA a,
  p.linkG a,
  p.linkP a {
    width: 100%;
    height: auto;
  }

  .linkA p,
  .linkG p,
  .linkP p {
    font-size: 1.5em;
    width: 70%;
  }

  .linkC {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .linkC p {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  p.topimg {
    max-width: 100%;
    text-align: center;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-right: unset;
  }

  section.backbox {
    width: 80%;
    height: 90%;
    background-color: #fff;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }
  .linkA {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 35%;
    margin-left: 15%;
  }
  .linkG,
  .linkP {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 25%;
    margin-left: 15%;
  }

  .linkC {
    display: block;
    max-width: 100%;
  }

  .linkC p {
    max-width: 100%;
  }
}
