@import url(https://otkui.github.io/artwork/common.css);

/* 〜プロフィール、活動履歴ここから〜 */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img {
  max-width: 203px;
  margin-top: 128px;
}

section h2 {
  font-size: 2.5em;
  margin-top: 64px;
}

.info {
  font-size: 1.25em;
  line-height: 2.5;
  text-align: center;
  margin-top: 88px;
}

section h3 {
  font-size: 2em;
  margin-top: 176px;
}

.career {
  font-size: 1.25em;
  line-height: 2;
  margin-top: 64px;
}
/* 〜プロフィール、活動履歴ここまで〜 */

/* 〜イラスト制作の説明、写真ここから〜 */
.backflex {
  background-color: #fff;
  width: 1024px;
  height: 2056px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 466px;
  height: 284px;
  font-size: 1.25em;
  line-height: 2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic_mini {
  width: 284px;
}

.pic_big {
  width: 500px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.flex1,
.flex2 {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 〜イラスト制作の説明、写真ここまで〜 */

/* 〜〜遷移ナビゲーションここから〜〜 */

/* 背景 */
.backbox {
  max-width: 1024px;
  height: 1016px;
  background-color: #fff;
  text-align: center;
  margin-top: 232px;
  margin-bottom: 240px;
  margin-right: auto;
  margin-left: auto;
}

/* GALLERY */
.linkG {
  background-image: url(/img/h_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

/* ホバーで背景画像が拡大〜ここから */
.linkG {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkG:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkG:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkG a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

.linkG p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}
.linkG img {
  width: 24px;
  height: 24px;
}

/* PRODUCT */
.linkP {
  background-image: url(/img/h_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

/* ホバーで背景画像が拡大〜ここから */
.linkP {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkP:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkP:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkP a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

.linkP p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}
.linkP img {
  width: 24px;
  height: 24px;
}

/* サブテキスト */
span {
  font-size: 0.4em;
}

/* ホバー時のアクション */
.linkG,
.linkP,
a:hover {
  text-decoration: none;
  opacity: unset;
}

/* 〜〜遷移ナビゲーションここまで〜〜 */

@media (max-width: 575px) {
  section img {
    width: 102px;
    margin-top: 64px;
  }

  section h2 {
    font-size: 1.5em;
  }

  .info {
    width: 70%;
    font-size: 98%;
  }

  section h3 {
    font-size: 1em;
    margin-top: 120px;
  }

  .career {
    width: 80%;
    font-size: 0.8em;
  }
  /* フレックスボックス背景 */
  .backflex {
    width: 90%;
    height: 1500px;
  }

  article {
    width: 90%;
  }

  /* 説明文 */
  p.comment {
    /* テキストボックス */
    width: 90%;
    /* 文字 */
    font-size: 0.6em;
    line-height: 2;
    text-align: center;
  }

  /* 小さい写真 */
  .pic_mini {
    width: 50%;
  }

  /* 大きい写真 */
  .pic_big {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: unset;
  }

  .flex1,
  .flex2 {
    margin: 0;
  }

  .flex1,
  .flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: unset;
  }

  .flex2 {
    padding-top: 64px;
  }

  /* ナビゲーションメニュー */
  .backbox {
    width: 80%;
    height: 90%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkG {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 35%;
    margin-left: 15%;
  }

  .linkP {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkG a,
  p.linkP a {
    width: 100%;
    height: auto;
  }

  .linkG p,
  .linkP p {
    font-size: 1.5em;
    width: 70%;
  }
}

/* iPad */
@media (min-width: 576px) and (max-width: 991px) {
  .backflex {
    /* background-color: aquamarine; */
    width: 90%;
    height: 90%;
    margin-top: 120px;
    padding-bottom: 120px;
  }

  /* ナビゲーションメニュー */
  .backbox {
    width: 80%;
    height: 90%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkG {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  .linkP {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkG a,
  p.linkP a {
    width: 100%;
    height: auto;
  }

  .linkG p,
  .linkP p {
    font-size: 1.5em;
    width: 70%;
  }
}
