@import url(https://otkui.github.io/artwork/common.css);

/* カレンダー写真 */
.calendar {
  text-align: center;
}

.calendar img {
  width: 500px;
  margin-top: 120px;
}

.text {
  font-size: 1.5em;
  text-align: center;
  line-height: 2;
  margin-top: 120px;
}

.flex img {
  width: 320px;
}

.flex {
  margin-top: 94px;
  margin-bottom: 200px;
}

.item_1-2,
.item_3-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 110px;
  padding-top: 72px;
}

/* フッター上余白 */
footer {
  margin-top: 400px;
}

/* スライド用写真 */
.slide {
  width: 450px;
  height: 639px;
  margin-left: auto;
  margin-right: auto;
}

/* スライド実行用CSS */
.slide img {
  width: 450px;
  height: 639px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* slick */
.slick-next {
  right: 25%;
  opacity: 0.9;
}

.slick-prev {
  left: 25%;
  z-index: 1;
  opacity: 0.9;
}

/* slickの色 */
.slick-next::before,
.slick-prev::before {
  color: #4c444d;
}

/* 〜〜遷移ナビゲーションここから〜〜 */

/* 背景 */
.backbox {
  width: 1024px;
  height: 1016px;
  background-color: #fff;
  text-align: center;
  margin-top: 232px;
  margin-bottom: 240px;
  margin-right: auto;
  margin-left: auto;
}

/* ABOUT */
.linkA {
  background-image: url(/img/h_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

/* ホバーで背景画像が拡大〜ここから */
.linkA {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkA:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkA:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkA a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

.linkA p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}
.linkA img {
  width: 24px;
  height: 24px;
}

/* PRODUCT */
.linkG {
  background-image: url(/img/h_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 640px;
  height: 280px;
  margin-top: 136px;
  display: inline-block;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.2);
}

/* ホバーで背景画像が拡大〜ここから */
.linkG {
  position: relative;
  overflow: hidden;
  max-width: 640px;
  height: 280px;
}

.linkG:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(/img/h_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.linkG:hover:after {
  opacity: 0.8;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.linkG a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  text-decoration: none;
  color: #4c444d;
}
/* ホバーで背景画像が拡大〜ここまで */

.linkG p {
  background-color: #fff;
  width: 320px;
  height: 140px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 140px;
  margin-right: auto;
  padding-top: 48px;
}
.linkG img {
  width: 24px;
  height: 24px;
}

/* サブテキスト */
span {
  font-size: 0.4em;
}

/* ホバー時のアクション */
.linkA,
.linkG,
a:hover {
  text-decoration: none;
  opacity: unset;
}

/* 〜〜遷移ナビゲーションここまで〜〜 */

/* レスポンシブ */
@media (max-width: 575px) {
  .calendar {
    padding-top: unset;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  p.text {
    font-size: 1em;
    line-height: 40px;
  }

  .flex img {
    width: 80%;
  }

  .flex {
    display: block;
    margin-top: 72px;
    margin-bottom: 200px;
  }

  .item_1-2,
  .item_3-4 {
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: unset;
    padding-top: 48px;
  }

  .slide {
    width: 70%;
    height: 70%;
  }

  /* スライド実行用CSS */
  .slide img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    object-fit: cover;
  }

  /* slick */
  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-dots {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 200px;
  }

  /* ナビゲーションメニュー */
  .backbox {
    width: 80%;
    height: 90%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkA {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 35%;
    margin-left: 15%;
  }

  .linkG {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkA a,
  p.linkG a {
    width: 100%;
    height: auto;
  }

  .linkA p,
  .linkG p {
    font-size: 1.5em;
    width: 70%;
  }
}

/* iPad */
@media (min-width: 576px) and (max-width: 991px) {
  .calendar {
    width: 90%;
    padding-top: 181px;
    margin-left: auto;
    margin-right: auto;
  }

  .slide {
    width: 70%;
    height: 70%;
  }

  /* スライド実行用CSS */
  .slide img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    object-fit: cover;
  }

  /* slick */
  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-dots {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* ナビゲーションメニュー */
  .backbox {
    width: 80%;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkA {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  .linkG {
    /* 背景画像 */
    width: 98%;
    height: auto;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkA a,
  p.linkG a {
    width: 100%;
    height: auto;
  }

  .linkA p,
  .linkG p {
    font-size: 1.5em;
    width: 70%;
  }

  footer {
    margin-top: 200px;
  }
}
