@import url(common.css);

main article p {
  text-align: center;
  line-height: 40px;
  padding-top: 100px;
}
.thankspic {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.gotop {
  font-size: 1.25em;
  padding-top: 120px;
  padding-bottom: 120px;
}

footer {
  height: 48px;
}

.copyright {
  font-size: 1em;
  text-align: center;
  margin-top: 16px;
}

/* レスポンシブ */
/* スマホ縦の書式 */
@media (max-width: 575px) {
  main article p {
    line-height: 20px;
  }

  main article h1 {
    font-size: 90%;
    margin-top: 50px;
  }

  .thankspic {
    padding-top: 10px;
  }
  main article .thankstext {
    width: 80%;
    font-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  main article .thankstext p {
    padding-top: 50px;
    text-align: left;
  }

  .attention {
    font-size: 12px;
  }

  .mail {
    font-size: 60%;
    padding-top: 50px;
  }

  .gotop {
    font-size: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .copyright {
    font-size: 50%;
    padding-top: 50px;
    padding-bottom: 10px;
  }
}
